* {
    box-sizing: border-box;
    margin: 0;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 100px calc(100vh - 150) 50px;
}

header {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(77, 76, 76);
}
.logo_header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 2em;
}

.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 15px;
}
header h1 {
    color: white;
    font-size: 2.0em;
}
.menu_header a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}
.menu_header a:hover{
    font-size: 1.6em;
    color: red;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu_section {
    margin-top: 20px;
    grid-row: 2;
    grid-column: 1;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
}

.coffee_cards {
    display: flex;
    flex-wrap: wrap;
}

.coffee_cards_special {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin:20px;
    width: 200px;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 3px;
    height: 150px;
    display: grid;
    grid-template-rows: 2fr 3fr 30px;
}
.drink_name {
    text-align: center;
    background-color: rgb(77, 76, 76);
    color: white;
}
.drink_price{
    margin: 10px;
    border-bottom: 1px solid rgb(226, 225, 225);
    align-self:flex-end;
}

.add_button {
    width: 30%;
    justify-self:center;
    align-self: center;
}

.order{
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    grid-row: 2;
    grid-column: 2;
    border-left: 1px solid grey;
    margin-bottom: 20px;

    display: flex;
    flex-direction:column;
    align-items: stretch;
}
#cart_section{
    display: grid;
    justify-content: stretch;

}
.cart_item{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
}
.cart_item_price {
    justify-self: end;
}

.cart_item_num {
    justify-self: center;
}

.sum_box {
    justify-self: center;
    text-align: end;
    padding-top: 10px;
    border-top: 1px solid gray;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    justify-items: center;
}
.sum_txt {
    justify-self: start;
}
.sum {
    justify-self: end;
}





footer {
    grid-column: 1 / span 2;
    grid-row: 3;
    height: 50px;
    background-color: rgb(77, 76, 76);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_footer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 2em;
}

.social {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.symbol {
    color: white;
    font-size: 170%;
}